@import './base.css';
@import '../components/Version.module.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  width: 100vw;
}

.version-container {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 0rem;
}

.version-text {
  font-family: 'Menlo', 'Lucida Console', monospace;
  padding: 0 0.5rem;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  text-align: center;
}

.main-container {
  display: flex;
  gap: 0.5rem;
  padding: 2rem;
  width: 100vw;
  min-width: 450px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.selector-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.selection-box-trigger {
  width: 100% !important;
}

.selection-box {
  display: flex;
  width: 100%;
}

.selection-buttons {
  display: flex;
  gap: 0.5rem;
}

.card-grid {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.card-buttons {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.component-container {
  display: flex;
  gap: 0.5rem;
  padding: 2rem;
  width: 800px;
  flex-direction: column;
  max-width: 80vw;
  flex-grow: 1;
}

.settings-content {
  width: 800px;
  max-width: 80vw;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.settings-title {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.settings-back-button-container {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.home-page-settings-button-container {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

